/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 25, 2016, 23:37:44 PM
    Author     : Ramesh Khairandish
*/


nav{
    background-color: #E8E8E7;
    text-align: left;
    border: 8px;
    float: right;
    font-family: BatmanForeverOutline;
}
/*nav:hover{
    background-color:#E8E8E7;
    text-align: left;
    border: 8px;
    float: right;
    font-family: njnaruto;
    border-left: 6px solid red;
}*/

body{
    background-color: #E8E8E7;
}

ul {
    background-color:#E8E8E7;
    font-family: "Transformers Movie", Transformers Movie;
    font-size: 20px;
    background-color:#E8E8E7;
}

ul:hover{
    background-color:#E8E8E7;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: oblique;
    font-size: 18px;
    border-left: 6px solid red;
}

h1{
    background-color: #E8E8E7;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-transform: uppercase;
    font-size: 40px;
}

h1:hover{
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-transform: uppercase;
    font-style: oblique;
    font-size: 40px;
    border-left: 6px solid red;
    background-color: #676767;

}

h2{
    font: Transformers Movie;
    font-style: oblique;
}

body {
    width: 1120px;
    border: 25px solid #676767;
    padding: 85px;
    margin: 15px;
}

a {
    color: red;
}



