/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 25, 2016, 23:37:44 PM
    Author     : Ramesh Khairandish
*/


nav{
    background-color: #cccccc;
    text-align: left;
    border: 8px;
    float: right;
    font-family: "BatmanForeverOutline", BatmanForeverOutline;
}
nav:hover{
    background-color:#6b7071;
    text-align: left;
    border: 8px;
    float: right;
    font-family: njnaruto;
    border-left: 6px solid red;
}

body{
    background-color: #cccccc;
}

ul {
    font-family: "Transformers Movie", Transformers Movie;
    font-size: 20px;
}

ul:hover{
    background-color:#6b7071;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 20px;
    border-left: 6px solid red;
}

h1{
    color: whitesmoke;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-transform: uppercase;
    font-size: 50px;
}

h1:hover{
    color: whitesmoke;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-transform: uppercase;
    font-size: 50px;
    border-left: 6px solid red;
    background-color: #6b7071;

}
