/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 25, 2016, 23:37:44 PM
    Author     : Ramesh Khairandish
*/


nav{
    background-color: #E8E8E7;
    text-align: left;
    border: 8px;
    float: right;
    font-family: inherit;
}

body{
    background-color: #E8E8E7;
    height: 395px;
    width: 1120px;
    border: 20px solid #676767;
    padding: 85px;
    margin: 15px;
    font-size: 125%;
}

ul:hover{
    background-color:#E8E8E7;
    font-style: oblique;
    border-left: solid red;
}

h1{
    background-color: #E8E8E7;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    text-transform: uppercase;
}

h1:hover{
    text-align: center;
    text-transform: uppercase;
    font-style: oblique;
    border-left: 6px solid red;
    background-color: #676767;
}